In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire
from time import strftime

In [2]:
# define categories
categories = ["business", "sports", "technology", "entertainment"]

# use get_all_new_article function from acquire.py file 

news_df = acquire.get_all_news_articles(categories)

/Users/ravindersingh/codeup/germain/germain-nlp/acquire.py:120: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 120 of the file /Users/ravindersingh/codeup/germain/germain-nlp/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

In [3]:
# look at the head of dataframe
news_df.head()

,title,content,category
0,Navi Mutual Fund offers SIPs starting at ₹500,Navi Mutual Fund is offering investors the opt...,business
1,'Man who takes 6 months parental leave is a lo...,Several Twitter users criticised US-based Pala...,business
2,"Delhi HC notice to RBI, SBI over banning UPI p...",The Delhi High Court on Thursday issued notice...,business
3,Elon Musk and Jeff Bezos are now worth nearly ...,The combined net worth of the world's two rich...,business
4,Cognizant had to choose clients to serve: CEO ...,Cognizant CEO Brian Humphries has said the fir...,business

In [4]:
# lets use the content of first news item as 'article' to test my functions

article = news_df.content[0]
article

'Navi Mutual Fund is offering investors the option to start Systematic Investment Plans (SIPs) with ₹500 on its app. “With the recent spike in demand for mutual funds, Navi promises to offer a hassle-free digital experience to users and it is emerging as a preferred platform for direct investments”, the company said. Users can start investing via the Navi app.'

#### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [5]:
def basic_clean(string):
    '''
    This function takes in a string and
    returns the string normalized.
    '''
    string = unicodedata.normalize('NFKD', string)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    string = re.sub(r'[^\w\s]', '', string).lower()
    return string

In [6]:
# use the function defined above

basic_clean(article)

'navi mutual fund is offering investors the option to start systematic investment plans sips with 500 on its app with the recent spike in demand for mutual funds navi promises to offer a hasslefree digital experience to users and it is emerging as a preferred platform for direct investments the company said users can start investing via the navi app'

#### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [7]:
def tokenize(string):
    '''
    This function takes in a string and
    returns a tokenized string.
    '''
    # Create tokenizer.
    tokenizer = nltk.tokenize.ToktokTokenizer()
    
    # Use tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    
    return string

In [8]:
# use the function defined above

tokenize(article)

'Navi Mutual Fund is offering investors the option to start Systematic Investment Plans ( SIPs ) with ₹ 500 on its app. “With the recent spike in demand for mutual funds , Navi promises to offer a hassle-free digital experience to users and it is emerging as a preferred platform for direct investments ” , the company said. Users can start investing via the Navi app .'

#### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [9]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    
    # Use the stemmer to stem each word in the list of words we created by using split.
    stems = [ps.stem(word) for word in string.split()]
    
    # Join our lists of words into a string again and assign to a variable.
    string = ' '.join(stems)
    
    return string

In [10]:
# use the function defined above

stem(article)

'navi mutual fund is offer investor the option to start systemat invest plan (sips) with ₹500 on it app. “with the recent spike in demand for mutual funds, navi promis to offer a hassle-fre digit experi to user and it is emerg as a prefer platform for direct investments”, the compani said. user can start invest via the navi app.'

#### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [11]:
def lemmatize(string):
    '''
    This function takes in string for and
    returns a string with words lemmatized.
    '''
    # Create the lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    # Join our list of words into a string again and assign to a variable.
    string = ' '.join(lemmas)
    
    return string

In [12]:
# use the function defined above

lemmatize(article)

'Navi Mutual Fund is offering investor the option to start Systematic Investment Plans (SIPs) with ₹500 on it app. “With the recent spike in demand for mutual funds, Navi promise to offer a hassle-free digital experience to user and it is emerging a a preferred platform for direct investments”, the company said. Users can start investing via the Navi app.'

#### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [13]:
set1 = {'1','2','4','5'}
set2 = {'1','2','6','8'}

(set2 - set1)

{'6', '8'}

In [14]:
def remove_stopwords(string, extra_words = [], exclude_words = []):
    '''
    This function takes in a string, optional extra_words and exclude_words parameters
    with default empty lists and returns a string.
    '''
    # Create stopword_list.
    stopword_list = stopwords.words('english')
    
    # Remove 'exclude_words' from stopword_list to keep these in my text.
    stopword_list = set(stopword_list) - set(exclude_words)
    
    # Add in 'extra_words' to stopword_list.
    stopword_list = stopword_list.union(set(extra_words))

    # Split words in string.
    words = string.split()
    
    # Create a list of words from my string with stopwords removed and assign to variable.
    filtered_words = [word for word in words if word not in stopword_list]
    
    # Join words in the list back into strings and assign to a variable.
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [15]:
# use the function defined above

remove_stopwords(article)

'Navi Mutual Fund offering investors option start Systematic Investment Plans (SIPs) ₹500 app. “With recent spike demand mutual funds, Navi promises offer hassle-free digital experience users emerging preferred platform direct investments”, company said. Users start investing via Navi app.'

#### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [16]:
# check head of my news_df dataframe:

news_df.head()

,title,content,category
0,Navi Mutual Fund offers SIPs starting at ₹500,Navi Mutual Fund is offering investors the opt...,business
1,'Man who takes 6 months parental leave is a lo...,Several Twitter users criticised US-based Pala...,business
2,"Delhi HC notice to RBI, SBI over banning UPI p...",The Delhi High Court on Thursday issued notice...,business
3,Elon Musk and Jeff Bezos are now worth nearly ...,The combined net worth of the world's two rich...,business
4,Cognizant had to choose clients to serve: CEO ...,Cognizant CEO Brian Humphries has said the fir...,business

In [17]:
# use all the functions to see if they work on news_df's content column
news_df['content'].apply(basic_clean)\
.apply(tokenize)\
.apply(lemmatize)\
.apply(remove_stopwords)

0     navi mutual fund offering investor option star...
1     several twitter user criticised usbased palant...
2     delhi high court thursday issued notice rbi sb...
3     combined net worth world two richest person el...
4     cognizant ceo brian humphries ha said firm doe...
                            ...
95    actorcomedian kumail nanjiani said ha big fan ...
96    actress soni razdan said let go film wanted di...
97    actress kamya panjabi joined congress party pr...
98    satish kaushik whose chhoriyan chhoron se kam ...
99    actress zareen khan interview ha said fascinat...
Name: content, Length: 100, dtype: object

#### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [18]:
today = strftime('%Y-%m-%d')
codeup_df = acquire.get_blog_articles()

/Users/ravindersingh/codeup/germain/germain-nlp/acquire.py:14: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 14 of the file /Users/ravindersingh/codeup/germain/germain-nlp/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)
/Users/ravindersingh/codeup/germain/germain-nlp/acquire.py:21: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 21 of the file /Users/ravindersingh/codeup/germain/germain-nlp/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

In [19]:
codeup_df.head()

,title,published,content
0,Codeup Launches First Podcast: Hire Tech,"Aug 25, 2021",Any podcast enthusiasts out there? We are plea...
1,Why Should I Become a System Administrator?,"Aug 23, 2021","With so many tech careers in demand, why choos..."
2,Announcing our Candidacy for Accreditation!,"Jun 30, 2021",Did you know that even though we’re an indepen...
3,Codeup Takes Over More of the Historic Vogue B...,"Jun 21, 2021",Codeup is moving into another floor of our His...
4,Inclusion at Codeup During Pride Month (and Al...,"Jun 4, 2021",Happy Pride Month! Pride Month is a dedicated ...

#### 8. For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [20]:
def prep_article_data(df, column, extra_words=[], exclude_words=[]):
    '''
    This function take in a df and the string name for a text column with 
    option to pass lists for extra_words and exclude_words and
    returns a df with the text article title, original text, stemmed text,
    lemmatized text, cleaned, tokenized, & lemmatized text with stopwords removed.
    '''
    df['clean'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['stemmed'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(stem)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    df['lemmatized'] = df[column].apply(basic_clean)\
                            .apply(tokenize)\
                            .apply(lemmatize)\
                            .apply(remove_stopwords, 
                                   extra_words=extra_words, 
                                   exclude_words=exclude_words)
    
    return df[['title', column,'clean', 'stemmed', 'lemmatized']]

In [21]:
# use the function defined above for news_df's content column.

prep_article_data(news_df, 'content', extra_words = ['ha'], exclude_words = ['no']).head()

,title,content,clean,stemmed,lemmatized
0,Navi Mutual Fund offers SIPs starting at ₹500,Navi Mutual Fund is offering investors the opt...,navi mutual fund offering investors option sta...,navi mutual fund offer investor option start s...,navi mutual fund offering investor option star...
1,'Man who takes 6 months parental leave is a lo...,Several Twitter users criticised US-based Pala...,several twitter users criticised usbased palan...,sever twitter user criticis usbas palantir tec...,several twitter user criticised usbased palant...
2,"Delhi HC notice to RBI, SBI over banning UPI p...",The Delhi High Court on Thursday issued notice...,delhi high court thursday issued notice rbi sb...,delhi high court thursday issu notic rbi sbi n...,delhi high court thursday issued notice rbi sb...
3,Elon Musk and Jeff Bezos are now worth nearly ...,The combined net worth of the world's two rich...,combined net worth worlds two richest persons ...,combin net worth world two richest person elon...,combined net worth world two richest person el...
4,Cognizant had to choose clients to serve: CEO ...,Cognizant CEO Brian Humphries has said the fir...,cognizant ceo brian humphries said firm enough...,cogniz ceo brian humphri said firm doe enough ...,cognizant ceo brian humphries said firm doe en...